.carousel {
  position: relative;
}

.matte {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.carouselItem h1 {
  z-index: 2;
}

.carousel h1 {
  margin: 0;
}

.carouselButt {
  background-color: brown;
  color: white;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  z-index: 2;
  text-decoration: none;
}
