.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 0, 0);
  padding: 1rem;
}

.textItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(136, 0, 255);
  font-weight: bolder;
}

.addressBlock {
  text-align: center;
  margin: 10px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

.icon {
  margin: 0 5px;
  font-size: 2rem;
}

.logo {
  height: 75px;
  width: 250px;
  background: url("https://res.cloudinary.com/dnaj4dehf/image/upload/c_crop,w_8000,h_2500/v1708489714/RedBank-Rivercenter-Logo-White_adhnpv.png")
    no-repeat center/cover;
}

.footText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 0.9rem;
}

.contactButt {
  background-color: white;
  color: black;
  border: black solid 3px;
  border-radius: 0.5rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;

}

@media (min-width: 768px) {
  .textItems {
    flex-direction: row;
  }

  .textItems {
    width: 75%;
  }
}

/* https://res.cloudinary.com/dnaj4dehf/image/upload/c_crop,w_8000,h_2500/v1708489714/RedBank-Rivercenter-Logo-White_adhnpv.png */
