.container {
  width: 100%;
  border: red 1px solid;
}

.arrowButt {
  display: none;
}

.imageWrapper {
  position: relative;
  height: 200px;
  width: 200px;
}

.overlayText {
  position: absolute;
  top: 15%;
  left: 86%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.2rem 0.2rem;
  line-height: 0.9;
  width: 60px;
}

.overlayText span {
  font-size: 2.2rem;
}

.descText {
  font-size: 0.9rem;
  text-align: left;
  padding: 1rem 0.5rem 0 0.5rem;
  line-height: 0;
  width: 100%;
}

.descText p {
  font-weight: bolder;
}

@media (min-width: 768px) {
  .eventItem {
    margin: 0 2rem;
  }

  .arrowButt {
    font-size: 3rem;
    display: block;
  }
}
