.pageContainer {
  transition: transform 0.3s ease-in-out;
}

.pageContainer.slide {
  transform: translateX(-55%);
}

.admin {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  font-family: monospace;
  color: rgb(64, 255, 47);
  overflow-x: scroll;
}
