.carouselItem {
  width: 75vh;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}

.info div input {
  width: inherit;
  height: 1.5rem;
  text-align: end;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}
